<form>
    <h2 class="text-primary text-center">Form</h2>
    <label>UserName</label>
    <input type="text" class="form-control" name="username" />
    <br />
    <label>User Password</label>
    <input type="password" class="form-control" name="pass" />
    <br />
    <input type="submit" class="form-control" value="submit" />
    <br />
</form>
